/***** WHOLE DOC *****/

@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

.info-station {
    width: 1200px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 12px;
}

p {
	font-size: 14px;
	line-height: 21px;
  padding: 0 30px;
}

/***** HEADER *****/

header {
	height: 110px;
	border-bottom: 3px solid #77a466;
	margin: 0 auto;
}

header h1 {
    margin: 0;
    padding: 38px 0;
    float: left;
}

header h1 span {
    color: #77a466;
}

header nav {
    float: right;
    padding: 46px 0;
}

header nav ul {
    margin: 0;
    padding: 0;
}

header nav ul li {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    padding: 0 10px;
    display: inline-block;
}

header nav ul li a{
    color: #77a466;
    text-decoration: none;
}

/****** LAST HALF *****/

.top-section,
.bottom-section {
    margin: 0 auto;
    clear: both;
}

.hero-image {
    height: auto;
    float: left;
}

.hero-image img {
    border-bottom: 3px solid #77a466;
}

.welcome-section {
    height: auto;
    float: left;
}

.welcome-section h3 {
    color: #77a466;
    text-align: left;
    padding: 5px 0;
}

.welcome-section p {
    padding: 0;
    font-size: 16px;
    line-height: 25px;
}

.section1,
.section2,
.section3 {
    width: 399px;
    height: auto;
    float:left;
    border-top: 1px solid #dedbdc;
}

.section1 h4 {
    padding: 0;
}

.section2 {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
	padding: 10px 0;
	color:#77a466;
  font-weight: 400;
  font-size: 16px;
}

.section2 h4,
.section3 h4 {
    padding: 10px 30px;
}

.reviews {
	color: #333;
	font-size: 16px;
	line-height: 21px;
}

.address {
    font-size: 16px;
    line-height: 24px;
}

footer {
	height: 50px;
	border-top: 3px solid #eee;
	margin: 0 auto;
	clear: both;
	text-align: center;
}
footer span {
	font-family: 'Wisdom Script', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 14px;
}
